<h4>Dashboard</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae molestie magna. Vivamus ultrices, tortor nec tempor dignissim, nulla dui cursus lectus, vitae consectetur tortor dui eget lectus. Proin rutrum nulla enim, ut sollicitudin nisi vestibulum vitae. Proin nec tellus tincidunt, commodo ante a, fermentum nulla. Quisque sit amet metus vehicula, bibendum ante eu, blandit tortor. Praesent iaculis bibendum metus eget vulputate. Maecenas ac egestas felis. Nam mattis mauris non lacus aliquam euismod. Nunc eget hendrerit dui, in porttitor urna. Maecenas malesuada varius cursus. Fusce ac felis a enim convallis luctus. Sed eleifend nulla risus, eleifend accumsan nibh luctus nec.</p>
<ul>
  <li><%= link_to 'Manage Pages', admin_pages_path %></li>
  <li><%= link_to 'Manage Snippets', admin_dynamic_contents_path %></li>
  <li><%= link_to 'Manage Employees', admin_employees_path %></li>
  <li><%= link_to 'Manage Administrators', admin_admins_path %></li>
</ul>

