<table width="100%" border="0">
  <tr>
    <td align="right"><%= link_to 'Edit', edit_admin_dynamic_content_path(@dynamic_content), class: 'btn btn-warning btn-sm' %>
    </td>
  </tr>
</table>
<hr>
<h4><%= @dynamic_content.title %></h4>
<table width="100%" class="table">
  <tr>
    <td>Title:</td>
    <td><%= @dynamic_content.title %></td>
  </tr>
  <tr>
    <td>Value:</td>
    <td><%= strip_tags(@dynamic_content.value) %></td>
  </tr>
</table>


