<h4><%= @employee.name %></h4>
<p><% if !@employee.employee_image.to_s.empty? %><%= image_tag @employee.employee_image.to_s, class:'img-float-right' %><% end %> <%= raw @employee.details %></p>
<% if !@employee.resume.to_s.empty? %>
<p><i class="fa fa-download"></i> <%= link_to 'Download My Resume', @employee.resume.to_s %></p>
<% end %>
